@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-notion-default text-notion-text-light transition-colors duration-200 dark:bg-notion-dark dark:text-notion-text-dark;
  }
}
.transition-forward::view-transition-old(root) {
  animation: slide-out-left 0.5s var(--view-transition-easing);
}
.transition-forward::view-transition-new(root) {
  animation: slide-in-right 0.5s var(--view-transition-easing);
}
.transition-backward::view-transition-old(root) {
  animation: slide-out-right 0.5s var(--view-transition-easing);
}
.transition-backward::view-transition-new(root) {
  animation: slide-in-left 0.5s var(--view-transition-easing);
}
